body {
    background-color: rgb(28, 157, 77);
    color: rgb(12, 2, 2);
    font-family: "Lato", sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button {
    background-color: black;
    color: rgb(248, 252, 251);
    font-family: "Bai Jamjuree", sans-serif;
}