body {
    background-color: rgb(252, 252, 252);
    color: rgb(12, 2, 2);
    font-family: "Lato", sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button {
    background-color: black;
    color: rgb(79, 81, 228);
    font-family: "Bai Jamjuree", sans-serif;
}